<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vistoria eletrônica do veículo  - LÍBANO CORRETORA DE SEGUROS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="6"
        *ngFor="let foto of testeService.fotos; index as position">
        <ion-img src="{{ foto.webviewPath}}" (click)="presentActionSheet(position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="testeService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
